{% extends "./home.html" %} {% block javascript %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script text="javascript">

  const tokenss = "{{ csrf_token }}";


  const speedbutton = `<p>Speed:</p>
        {% for speed in speed_options %}
        <button class="dial" id="{{speed}}">{{ speed }}</button>
        {% endfor %}`;

  const speedOptions = JSON.parse(
    "{{speed_options | safe}}".replaceAll("'", '"')
  );


  const defaulMsg = "Solve the sudoku board or press solve button so I can solve it";

  let numberOfSteps = 0;
  let timeDelay = Object.values(speedOptions)[0]; 
  let prev = Object.keys(speedOptions)[0]; 
  let solving = false;
  let msgChanging = false; 
  let solved = false; 
  let paused = false; 
  async function normalSleep(s) {
    return new Promise((resolve) => setTimeout(resolve, s * 1000));
  }

  async function sleep(s) {
    return new Promise((resolve) => {
      let temp = s;
      f = setInterval(async () => {
        if (paused == true) {
        } else {
          await normalSleep(s);
          return resolve("");
        }
      });
    }).then((resolve) => {
      clearInterval(f); 
      return resolve;
    });
  }

  function addSteps() {
    numberOfSteps += 1;
    document.getElementById("steps").innerHTML = numberOfSteps;
  }

  const timer = setInterval(function () {
    var timeElement = parseInt(document.getElementById("timer").innerHTML);
    if (!paused) {
      document.getElementById("timer").innerHTML = timeElement + 1;
    }
  }, 1000);

  function noEdit(on) {
    if (on == true){
    for (i of document.getElementsByClassName("cell")) {
      i.classList.add("no-edit");
    }}else{
      for (i of document.getElementsByClassName("cell")) {
      i.classList.remove("no-edit");
    }}
  }

  
  function toggleSpeedBtns(on) {
    let s = document.getElementsByClassName("speed")[0];
    if (on == true) {
      s.innerHTML = speedbutton;
      document.getElementById(Object.keys(speedOptions)[0]).click();
    } else {
      s.innerHTML = null;
    }
  }
    async function changeMsg(msg, timeout = null, afterMsg = null) {
    document.getElementById("msg").innerHTML = msg;
    if (timeout) {
      msgChanging = true;
      await normalSleep(timeout);
      if (solved == true) {
        return;
      }
      document.getElementById("msg").innerHTML = afterMsg;
      msgChanging = false;
    }
  }


  $(document).on("click", ".dial", function () {
    document.getElementById(prev).classList.remove("current-speedbtn");

    const val = $(this)[0].innerHTML;
    prev = $(this)[0].id;
    timeDelay = speedOptions[val];
    $(this)[0].classList.add("current-speedbtn");

    if (paused == true) {
      changeMsg("Going " + val + " after resumption", 1, "Solving Paused");
    } else {
      changeMsg("Going " + val, 1, "Solving...");
    }
  });


  $(document).on("click", "#pause", async function () {
    const val = $(this)[0].innerHTML;
    let currentElement = $(this)[0];

    if (val === "Pause") {
      noEdit(true);
      currentElement.classList.add("make-red");
      currentElement.innerHTML = "Play";
      paused = true;
      if (solving == true) {
        changeMsg("Solving Paused");
      } else {
        changeMsg("Game Paused");
        document.getElementsByClassName("main-board")[0].classList.add("blur");
      }
    } else {
      noEdit(false);
      currentElement.classList.remove("make-red");
      currentElement.innerHTML = "Pause";
      document.getElementsByClassName("main-board")[0].classList.remove("blur");
      paused = false;
      if (solving == false) {
        changeMsg(defaulMsg);
      }
    }
  });
  
  
  $(document).on("click", "#new-board", function () {
    location.href = "{% url 'new_game' %}";
  });

  $(document).on("click", "#stopgame", function () {
    location.href = "{% url 'home' %}";
  });

  $(document).on("click", "#leaderboard", function () {
    location.href = "{% url 'leaderboard' %}";
  });
  
  $(document).on("click", "#solve", function () {
    
    if (paused == true){return} 
    if (solving == true) {
      return changeMsg("Already Solving", 1.5, "");
    }
    if (solved == true) {
      return changeMsg("Already Solved. Click New Board to get a new board");
    }

    document.getElementById("timer").innerHTML = 0;
    
    toggleSpeedBtns(true);

    $.ajax({
      type: "POST",
      url: "get_steps/",
      data: {
        csrfmiddlewaretoken: tokenss,
      },
      success: async function (data) {
        noEdit(true);

        numberOfSteps = 0;
        solving = true;
        for (const item of data.steps) {
          const currentElement = document.getElementById(item[0]);
          currentElement.classList.add("current-cell");
          currentElement.value = item[1];

          if (item[1] === " ") {
            if ((msgChanging == false) & (paused == false)) {
              changeMsg("Backtracking...");
            }
            currentElement.classList.add("empty-cell");
            currentElement.classList.remove("solved-cell");

          } else {

            if ((msgChanging == false) & (paused == false)) {
              changeMsg("Solving...");
            }
            currentElement.classList.remove("empty-cell", "wrong-cell");
            currentElement.classList.add("solved-cell");
          }
          addSteps();
          await sleep(timeDelay);
          currentElement.classList.remove("current-cell");
        }
      
        if (data.if_solved){
            changeMsg("Hurray {{user.username}}  Solved  Puzzle!");
            clearInterval(timer); 
            solved = true;
            paused=true;
        }else{
          noEdit(false);
          changeMsg("Wouldn't solved by {{user.username}}!");
          paused = true;
        }
        toggleSpeedBtns(false);
        solving = false;
        
      },
      error: function(){
        alert("Something went wrong! :(")
      }
    });
  });

  $(document).on("change", ".cell", function () {
    const pos = $(this)[0].id; 
    const currentElementClasses = $(this)[0].classList;
    const val = $(this).val(); 
    const xy = pos.split("x"); 

    $.ajax({
      type: "POST",
      url: "check/",
      data: {
        val: val,
        pos: pos,
        csrfmiddlewaretoken: tokenss,
      },
      success: function (data) {
        if (data.is_correct) {
          changeMsg("Correct!", 1, defaulMsg);
          currentElementClasses.remove("empty-cell", "wrong-cell");
          currentElementClasses.add("solved-cell");

        } else if (val === "") {
          changeMsg("Backtracking huh :)", 1, defaulMsg);
          currentElementClasses.remove("wrong-cell", "solved-cell");
          currentElementClasses.add("empty-cell");

        } else {
          changeMsg("Try again!", 1, defaulMsg);
          currentElementClasses.remove("solved-cell", "empty-cell");
          currentElementClasses.add("wrong-cell");
        }
        addSteps();
        if (data.all_solved) {
          changeMsg("Hurray! {{user.username}} solved it!");
          clearInterval(timer); 
          solved = true;
          paused=true;
        }
      },
      error: function(){
        alert("Something went wrong! :(")
      }
    });
  });
</script>
{% endblock %}
