
    <h1>Leaderboard</h1>
    <table>
        <thead>
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in scores %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{entry.name}}</td>
                    <td>{{entry.time}} seconds</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


