
    <h1>Leaderboard</h1>
    <table>
        <thead>
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{entry.user.username}}</td>
                    <td>{{entry.time}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
